<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ClientEmailAction</servlet-name>
		<servlet-class>com.wm.feedback.action.ClientEmailAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientEmailAction</servlet-name>
		<url-pattern>/clientEmailAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterCompanyAction</servlet-name>
		<servlet-class>com.wm.feedback.action.RegisterCompanyAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterCompanyAction</servlet-name>
		<url-pattern>/registerCompanyAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginCompanyAction</servlet-name>
		<servlet-class>com.wm.feedback.action.LoginCompanyAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCompanyAction</servlet-name>
		<url-pattern>/loginCompanyAction</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
